# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [ ]:
SELECT
    COUNT(*) AS UsersAboveBookAvg
FROM
    BooksDB.dbo.ratings r1
WHERE
    r1.rating > (
        SELECT
            AVG(r2.rating)
        FROM
            BooksDB.dbo.ratings r2 
        WHERE
            r2.book_id = r1.book_id
    );

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [ ]:
SELECT
    book_id
FROM
    dbo.ratings
WHERE
    rating = 1
GROUP BY
    book_id
HAVING
    COUNT(rating) > 1000

UNION

-- >1000 rating of 5
SELECT
    book_id
FROM
    dbo.ratings
WHERE
    rating = 5
GROUP BY
    book_id
HAVING
    COUNT(rating) > 1000;

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [ ]:
-- >1000 rating of 1
SELECT
    book_id
FROM
    dbo.ratings
WHERE
    rating = 1
GROUP BY
    book_id
HAVING
    COUNT(rating) > 1000 

INTERSECT

-- >1000 rating of 5
SELECT
    book_id
FROM
    dbo.ratings
WHERE
    rating = 5
GROUP BY
    book_id
HAVING
    COUNT(rating) > 1000;

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [ ]:
-- language_code = 'en-US' book 
SELECT
    book_id
FROM
    dbo.books
WHERE
    language_code = 'en-US'

EXCEPT

-- language_code = 'en-GB' book 
SELECT
    id
FROM
    dbo.books
WHERE
    language_code = 'en-GB';

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [ ]:
SELECT
    t.tag_name,
    t.tag_id
FROM
    dbo.tags t
WHERE
    t.tag_id IN (
        SELECT
            bt.tag_id
        FROM
            dbo.book_tags bt
        GROUP BY
            bt.tag_id
        HAVING
            SUM(bt.count) > 100000 -- tag usage > 100000
    );