# SQL Part 5 Studio:  A Library Service

## Setting Up Your Data

You will be creating 5 new tables within your own schema.

4 of the tables can be populated using the starter code which can be found in the `data` folder.

After setting up the data you should have the following five tables:

1. `book`
2. `author`
3. `patron`
4. `genre`
5. `loan`

## **Part A: Setting Up Your Tables**

### **Book Table**

To create the **book** table, you can use the following SQL query:

```
CREATE TABLE [DB].[schema].book (
    book_id INT IDENTITY(1,1) PRIMARY KEY,
    author_id INT,
    title VARCHAR(255),
    isbn INT,
    available BIT,
    genre_id INT
);
```

_A few notes on this syntax:_

> On Auto-incrementing:
> We are going to have SQL help us assign book\\_id numbers using auto-incrementing using the **IDENTITY** property.
> The [IDENTITY](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql-identity-property?view=sql-server-ver15) syntax is as follows: **IDENTITY(seed, increment)**.  We want to seed the first id number as 1 in this table and increment by 1 for each following book\\_id.
> On BIT datatypes:
> For the **available** column, we are going to use the [BIT datatype](https://docs.microsoft.com/en-us/sql/t-sql/data-types/bit-transact-sql?view=sql-server-ver15) to represent True or False values.  Bit allows three entries: 0 which will stand for false,  1 which will stand for true,  and NULL.
> On CREATE TABLES:
> You may only create a table once.  You may comment out your creation query once you run it.

In [ ]:
-- Create the book table here.  Update the name of the database and schema.

### Populate the **book** table

For the starter data, use the `INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (2, 'A Midsummers Night Dream', 978149413, 1, 23)  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (2, 'Romeo and Juliet', 988535196, 1, 3);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (1, 'The Golden Compass', 451664226, 1, 1);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (1, 'The Subtle Knife', 160419390, 1, 1);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (1, 'The Amber Spyglass', 94387895, 1, 1);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (3, 'The Alchemist', 464069772, 1, 2);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (4, 'And Then There Were None', 335973357, 1, 6);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (5, 'The Joy Luck Club', 990050329, 1, 10);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (5, 'The Moon Lady', 91720786, 1, 24);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (6, 'Sense and Sensibility', 156879860, 1, 2);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (6, 'Northanger Abbey', 951273178, 1, 3);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (6, 'Pride and Prejudice', 415886839, 1, 3);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (6, 'Mansfield Park', 188534067, 1, 3);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (6, 'Emma', 994896202, 1, 3);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (6, 'Persuasion', 28150097, 1, 3);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (6, 'Lady Susan', 230962926, 1, 3);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (7, 'Wuthering Heights', 280569946, 1, 3);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (8, 'The Handmaids Tale', 639239663, 1, 5);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (8, 'The Testaments', 826875490, 1, 5);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (9, 'The Parable of the Sower', 283359358, 1, 5);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (10, 'Little Women', 495409887, 1, 23);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (11, 'Still Life', 455128657, 1, 6);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (11, 'A Fatal Grace', 832517012, 1, 6);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (11, 'The Cruelest Month', 419285319, 1, 6);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (11, 'The Murder Stone', 656621400, 1, 6);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (11, 'The Brutal Telling', 144255852, 1, 6);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (11, 'Bury Your Dead', 208180961, 1, 6);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (11, 'A Trick of the Light', 93451531, 1, 6);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (12, 'Midnights Children', 881082293, 1, 10);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (13, 'Dont Let the Pigeon Drive the Bus!', 18409532, 1, 24);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (14, 'Beezus and Ramona', 744412630, 1, 24);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (15, 'Organic Chemistry', 604328803, 1, 25);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (16, 'I Know Why the Caged Bird Sings', 909947112, 1, 12);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (17, 'Beloved', 46736233, 1, 10);  INSERT INTO [DB].[schema].book(author_id, title, isbn, available, genre_id) VALUES (18, 'Brassbones and Rainbows', 330608463, 1, 26);` notebook.

> You may copy/paste the commands into the next code block.  You will need to update each INSERT statement to contain the names of your database and schema.

In [ ]:
-- Paste the book data values in this code box.  Be sure to update database and schema names.

### Test your data
                
Run a quick query of your choice to see if the book table was properly created

In [ ]:
-- test your book table here.

We will repeat a similar process for the **author, patron,** and **genre** tables. 
                
### **Author Table**

To create the **author** table, you will use the following code:

```
CREATE TABLE [DB].[schema].author (
    author_id INT IDENTITY(1,1), PRIMARY KEY
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    birth_year INT,
    death_year INT
);
```

In [ ]:
-- create the author table here:

Populate the **author** table with the `author_data.ipynb` notebook.

In [ ]:
-- paste the author data values in this code block.

### **Patron Table**

To create the **patron**, you will use the following code:

```
CREATE TABLE [DB].[schema].patron (
    patron_id INT IDENTITY (1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    loan_id INT
);
```

In [ ]:
-- create the patron table here:

Populate the **patron** table with the `patron_data.ipynb` notebook.

In [ ]:
-- insert patron data into the table here.

### **Genre Table**

To create the **genre** table, use the following code:

```
CREATE TABLE [DB].[schema].genre (
    genre_id INT PRIMARY KEY,
    genres VARCHAR(100)
);
```

In [ ]:
-- create genre table here.

Populate the **genre** table with the `genre_data.ipynb` notebook.

In [ ]:
-- insert the genre data into the table here.

### **Loan Table**

The **loan** table will be created differently and will stay empty.  We will use our other tables to populate the loan table using queries shortly. 

Use the following code to create the **loan** table:

```
CREATE TABLE [DB].[schema].loan (
    loan_id INT IDENTITY(1,1) PRIMARY KEY,
    patron_id INT,
    date_out DATE,
    date_in DATE,
    book_id INT
    CONSTRAINT book_id FOREIGN KEY (book_id) REFERENCES [DB].[schema].book (book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
```

_Notes about the syntax:_

> We are adding a [foreign key](https://www.w3schools.com/sql/sql_foreignkey.asp) to this table to reference a different table's primary key.  In this studio, we are going to link the **loan** table to the **book** table using keys.  The **loan** table will reference and add book id numbers based on the **book** table's `book_id`.  We are also providing [constraints](https://www.w3schools.com/sql/sql_constraints.asp) to be very specific about what type of data is allowed in this column.

In [ ]:
-- Code the loan table.
-- Note that you will need to update the first and seventh lines with your database and schema info.

## **Part B: Warm-Up Queries**

Write the following queries to get warmed up and make sure your tables have populated appropriately.

1. Return the mystery book titles and their ISBNs.
2. Return all of the titles and the author's first and last names for books written by authors who are currently living.

In [ ]:
-- Code your warm ups here:

## **Part C: Loan Out a Book**
                
The library would like you to create a query that will update the database when a book is loaned out.

This query needs to perform the following functions:

1. Change **available** to **0** (false) for the appropriate book.
2. Add a new row to the **loan** table with today's date as the `date_out` and the ids in the row matching the appropriate `patron_id` and `book_id`.
3. Update the appropriate **patron** with the `loan_id` for the new row created in the **loan** table.

You can use any patron and book that strikes your fancy to create and test out this query.

> _Note:  Every time you test this, you will add an additional row to the output, creating a new loan id each time.  If you do not update the patron id, then a patron will have multiple loan ids.  This is not an issue for Part C;_ _however, this may cause issues when you work on Part F._

In [ ]:
-- Create your query that will loan out a book:

## **Part D: Check a Book Back In**

Work with the same patron and book as you create your query to check a book back into the library.

The check a book back in, your query need to do the following:

1. Change **available** to **1** (true) for the appropriate book.
2. Update the appropriate row in the **loan** table with today's date as the `date_in`.
3. Update the appropriate **patron** changing `loan_id` back to `NULL`.

Once you have created these queries, loan out 5 new books to 5 different patrons.

In [ ]:
-- Create your query to check a book back in.

## **Part E: Create a temp table**

Write a query that returns a temporary table for a patron that shows them all of their loans.

_Question to think about:_  Why might a temp table be a good option for this type of query?

In [ ]:
-- Code your temp table here

## **Part F: Wrap-up Query**

Create a query that returns the names of the patrons with the genre of every book they currently have checked out.

Things to consider:  How are these tables related and connected to each other?

> _Note:  If you find a NULL in your output instead of a loan id, this is likely because there are multiple loans per patron.  Try_ _clearing out the loan table. You can do this by either dropping the entire table or clearing specific rows._

In [ ]:
-- Create your wrap-up query here.

## **Bonus Challenge:**
                
This is an optional challenge.

Create a new table for reference materials using the following code:

```
CREATE TABLE [DB].[schema].reference_books (
    reference_id INT IDENTITY(1,1) PRIMARY KEY,
    edition INT,
    book_id INT,
    book_id INT FOREIGN KEY REFERENCES [DB].[schema].book(book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
```

Fill the table with the following query:

```
INSERT INTO [DB].[schema].reference_books (edition, book_id)
VALUE (5,32);
```

In [ ]:
-- Create and fill your reference table here.

A reference book cannot leave the library. How would you modify either the **reference_book** table or the **book** table to make sure that doesn't happen? Try to apply your modifications.

In [ ]:
-- Code your query here.