# SQL Part 3 Exercises: Joins

This notebook works with `BooksDB`.

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.

Note: If some of the queries are not returning quickly, you can try closing and restarting Visual Studio Code after a few minutes.

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## QUESTION 1:  Exploring a `LEFT JOIN` using the `books` and `to_read` tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the `/*` (line 1) and `*/` (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer: Left table is BooksDB.dbo.books
Right table is BooksDB.dbo.to_read

**Part B:** Using table 2, answer the following questions: 
- When we added a `WHERE tr.user_id IS NOT NULL` clause (line 14), how did the table change?  Why?

> Your Answer: The total number of rows dropped significantly because the WHERE condition filtered the results. The initial LEFT JOIN brought in every single book, using a NULL value to mark any book with no matching user "to read" entries. The WHERE tr.user_id IS NOT NULL clause then kicked out all those NULL rows, eliminating every book that hadn't been added to someone's reading list. This simple filter transformed the inclusive LEFT JOIN into the exclusive result set of an INNER JOIN.

In [ ]:
/*
-- Query 1: LEFT JOIN
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 50 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;
*\

## **QUESTION 2:** Exploring `RIGHT` joins with the `books` and `to_read` tables

You will need to uncomment the query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: Left table is BooksDB.dbo.books
Right table is BooksDB.dbo.to_read

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?

> Your Answer: The core difference between the joins is which table's data is guaranteed to appear in the results.

The LEFT-joined treats the dbo.books table (the left one) as the master list. It ensures every single book is included, using NULL values when there's no matching "to read" entry in the right table.

The RIGHT-joined reverses this priority, treating the dbo.to_read table (the right one) as the master list. It guarantees every single "to read" record is returned, using NULL values for the book details if a corresponding entry is missing from the left dbo.books table.

LEFT JOIN showed us all the books, while RIGHT JOIN showed us all the user "want to read" activity.

In [ ]:
/*
-- Query 1: RIGHT JOIN
SELECT TOP 300 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;
*\

## **QUESTION 3:** Exploring FULL JOINS with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the `books` table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: I will choose a FULL join when my main goal is to get a complete picture of all data and check for errors across two tables. Unlike other joins, it guarantees that every record from both the book list and the "to read" list is included. This comprehensive view is perfect for data auditing, as it helps spot books that no one has marked yet. It also highlights any "to read" entries that link to a book ID that doesn't actually exist in the 'books' database. I would use it when I need to see everything that matched, plus every single item that didn't match on either side.

In [ ]:
/*
-- FULL JOIN
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id;
*/

## **QUESTION 4:** Exploring INNER Joins with the `books` and `to_read` tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> Your Answer: An INNER joins is used when you only want to see the records that perfectly match between two tables. It finds the intersection of the two data sets, any data that exists only in the first table or only in the second table is simply left out of the final result.

**Part B:** Currently this table has an `'IS NOT NULL'` in the `WHERE` clause. Is this necessary for this table? Why or Why not?

> Your Answer: The ''IS NOT NULL'' in the 'WHERE' clause is not necessary because the INNER joins already ensures a match exists in both dbo.books and dbo.to_read. Since the INNER joins only returns the intersection, it never generates NULL values for these key columns. The column is guaranteed to have a value due to the required match, making the explicit WHERE IS NOT NULL condition redundant code.

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.

> Your Answer:  Update the query in the code box below.

In [ ]:
/*
SELECT TOP 30 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM 
    BooksDB.dbo.books AS b
INNER JOIN 
    BooksDB.dbo.to_read AS tr
      ON b.book_id = tr.book_id
ORDER BY tr.book_id;
*/

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want the *most popular* book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.

Minimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.

**Title:** Selected Poems; **Tag count**: 400

**Part B:** How many different tags have been used for the most tagged book?  **100**

Start by joining the `books` and `book_tags` tables ON the `books.best_book_id` and `book_tags.goodreads_book_id`. We want to find the *most popular* tag id, so think about ordering in a way that will display the most popular tag id.

*Minimum Desired Output:* The tag id for the most popular tag used for the most tagged book.

**Tag Id:** 609

**Part C:** What is this particular tag?

You may return this answer with a simple query.

*Minimum Desired Output:* The tag name for the most popular tag used for the most tagged book.

**Tag Name:** 2003

In [ ]:
-- Code Here
-- Part A
SELECT TOP 1
    b.title AS "Title of Most Tagged Book",
    COUNT(bt.goodreads_book_id) AS "Tag Count"
FROM
    BooksDB.dbo.books AS b
INNER JOIN
    BooksDB.dbo.book_tags AS bt ON b.best_book_id = bt.goodreads_book_id
GROUP BY
    b.title
ORDER BY
    "Tag Count" DESC;

-- Part B
SELECT TOP 1
    b.best_book_id AS "Most Tagged Book ID",
    COUNT(bt.goodreads_book_id) AS "Tag Count"
FROM
    BooksDB.dbo.books AS b
INNER JOIN
    BooksDB.dbo.book_tags AS bt ON b.best_book_id = bt.goodreads_book_id
WHERE
    b.title = 'Selected Poems' 
GROUP BY
    b.best_book_id
ORDER BY
    "Tag Count" DESC;
-- Most Tagged Book ID: 65336, tag count: 100

SELECT
    COUNT(DISTINCT bt.tag_id) AS "Number of Different Tags"
FROM
    BooksDB.dbo.book_tags AS bt
WHERE
    bt.goodreads_book_id = 65336;   

SELECT TOP 1
    bt.tag_id AS "Most Popular Tag ID",
    COUNT(bt.tag_id) AS "Tag Used Count"
FROM
    BooksDB.dbo.book_tags AS bt
WHERE
    bt.goodreads_book_id = 65336
GROUP BY
    bt.tag_id
ORDER BY
    "Tag Used Count" DESC;   


-- Part C
SELECT
    t.tag_name AS "Tag Name"
FROM
    BooksDB.dbo.tags AS t
WHERE
    t.tag_id = 609;

## QUESTION 6: Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

Here is an example.  Alyce wanted to search for Halloween books.  She used the wildcard, `%halloween%` and 8 different combinations were found.  Alyce selected `halloween-storytime`, with a tag id of 13877.

*Minimum Desired Output:* tag name and tag id

**Your Tag and Tag Id:** 12-dancing-princesses, ID 301

**Part B:** Now that you have the tag id, find the title that was tagged the most with this tag by joining the `books` and `books_tags` tables.

Alyce joined the book table with the tags table and discovered that "The Little Old Lady Who Was Not Afraid of Anything" was tagged as `halloween-storytime` the most.

*Minimum Desired Output:* title and tag count

**Your Title and Number of times the tag was used:** Princess of the Midnight Ball (The Princesses of Westfalin Trilogy, #1), tag count: 1

In [ ]:
-- Code Here:
SELECT
    t.tag_id,
    t.tag_name
FROM
    BooksDB.dbo.tags AS t
WHERE
    t.tag_name LIKE '%dancing%';


SELECT TOP 1
    b.title AS "Book Title",
    COUNT(bt.tag_id) AS "Tag Count"
FROM
    BooksDB.dbo.books AS b
INNER JOIN
    BooksDB.dbo.book_tags AS bt ON b.best_book_id = bt.goodreads_book_id
WHERE
    bt.tag_id = 301
GROUP BY
    b.title
ORDER BY
    "Tag Count" DESC;

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the `to_read` and `books` tables are organized, and then join them.  What will you use as a key?

Your Answer: To find the top 10 most popular books on the 'to read' list, we must join two tables: the dbo.to_read table (which tracks user reading intent/popularity) and the dbo.books table (which holds the titles). The common key connecting a user's intent to a specific book is the unique book identifier, so we join to_read.book_id with books.best_book_id.

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

*Hint:* Suggest using an alias for the aggregation you will need to run on the `user_id`

*Minimum Desired Output:* title and aliased column

title                                                         Popularity
------------------------------------------------------------  ----------
The Ultimate Hitchhiker's Guide to the Galaxy                 1812      
The Lord of the Rings: The Art of The Fellowship of the Ring  1499      
Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)        1498      
Harry Potter and the Goblet of Fire (Harry Potter, #4)        1484      
The Known World                                               1352      
Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)   1293      
The Lord of the Rings: Weapons and Warfare                    1211      
Notes from a Small Island                                     1148      
Harry Potter Collection (Harry Potter, #1-6)                  1110      
The Lord of the Rings (The Lord of the Rings, #1-3)           1094

In [ ]:
-- Code Here:
SELECT TOP 10
    b.title,
    COUNT(tr.user_id) AS "Popularity"
FROM
    BooksDB.dbo.books AS b
INNER JOIN
    BooksDB.dbo.to_read AS tr
      ON b.best_book_id = tr.book_id
GROUP BY
    b.title
ORDER BY
    Popularity DESC;

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by `user_id`.

_Hint:_ You might want an alias for the titles.

_Minimum Desired Output:_ `user_id` and your aliased column of titles. user_id: 38457, list length: 117

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire 'to read' list.

In [ ]:
-- Code Here:
-- A
SELECT TOP 10
    tr.user_id,
    COUNT(tr.book_id) AS "list_length"
FROM
    BooksDB.dbo.to_read AS tr
GROUP BY
    tr.user_id
ORDER BY
    list_length DESC;

-- B
SELECT 
    tr.book_id, 
    b.title AS "book title"
FROM
    BooksDB.dbo.to_read AS tr
LEFT JOIN
    BooksDB.dbo.books AS b ON tr.book_id = b.best_book_id
WHERE
    tr.user_id = 38457;